h1{
    color: red;
    text-align: center;
}

#banner{
    display: flex;
    height: 100%;
    background-color: aqua;
}

table{
    border-collapse: separate;
    border-width: 3px;
    border-style: solid;
}

td{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}